body {
    margin: 0;
    font-size:24px;
    }
    .container {
    display: flex;
    min-height: 65%;
    }
    .main {
    flex-grow: 1;
    order: 2;
    }
    .nav,  {
    background-color: #7d0909;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    }
    .sidebar {
    background-color: #e3dddd;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    }
    nav {
    order: 1;
    }
    .sidebar {
    order: 3;
    }
    header, footer, nav, .sidebar, .main {
    text-align:center;
    padding: 20px;
    }
    header {
    background-color: #638fe0;
    height: 15%;
    }
    footer {
    background-color: #e95b11;
    height: 10%;
    }